NODE_ENV=production
APP_ENV=testing

MYSQL_ROOT_PASSWORD=
DB_NAME=vendure
DB_USER=vendure
DB_PASSWORD=

SUPERADMIN_USERNAME=
SUPERADMIN_PASSWORD=
COOKIE_SECRET=
DB_SYNCHRONIZE=false

NEXT_PUBLIC_SITE_URL=https://cla.nqn.net.ar
NEXT_PUBLIC_VENDURE_API_URL=https://cla.nqn.net.ar/shop-api