NODE_ENV=production
APP_ENV=testing

MYSQL_ROOT_PASSWORD=
DB_NAME=vendure
DB_USER=vendure
DB_PASSWORD=

SUPERADMIN_USERNAME=
SUPERADMIN_PASSWORD=
COOKIE_SECRET=
CORS_ORIGINS=https://cla.nqn.net.ar
COOKIE_DOMAIN=cla.nqn.net.ar
COOKIE_SAME_SITE=lax
COOKIE_SECURE=true
COOKIE_SECURE_PROXY=true
DB_SYNCHRONIZE=false
SHOP_PUBLIC_URL=https://cla.nqn.net.ar
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_SECURE=true

NEXT_PUBLIC_SITE_URL=https://cla.nqn.net.ar
NEXT_PUBLIC_VENDURE_API_URL=https://cla.nqn.net.ar/shop-api
