# Backend URL for Server Side fetching (Docker network)
VENDURE_INTERNAL_API_URL=http://backend:3001/shop-api

# Backend URL for Client Side fetching / Images (Browser)
NEXT_PUBLIC_VENDURE_API_URL=/api/shop

# When true, the UI expects account confirmation by email before login.
NEXT_PUBLIC_REQUIRE_CUSTOMER_VERIFICATION=false
